{% extends "app/base.html" %}

{% block content %}
    <h1>House List</h1>

    {% if object_list %}
        <div class="ibox-content">
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}&{{ get_params.urlencode }}">previous</a>
                    {% endif %}
                        <span class="page-current">
                        Page {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
                    </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&{{ get_params.urlencode }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead class="green">
                <tr>
                    <th>
                        {% if view.kwargs.sort == '-street' %}
                            <a href="{% url "house_sort" 'street' %}" class="green">Street <i class="fa fa-caret-up"></i></a>
                        {% else %}
                            <a href="{% url "house_sort" '-street' %}" class="green">Street <i class="fa fa-caret-down"></i></a>
                        {% endif %}
                    </th>
                    <th>
                        {% if view.kwargs.sort == '-st_number' %}
                            <a href="{% url "house_sort" 'st_number' %}" class="green">Number <i class="fa fa-caret-up"></i></a>
                        {% else %}
                            <a href="{% url "house_sort" '-st_number' %}" class="green">Number <i class="fa fa-caret-down"></i></a>
                        {% endif %}
                    </th>
                    <th>Apartment amount</th>
                    <th>
                        {% if view.kwargs.sort == '-build_date' %}
                            <a href="{% url "house_sort" 'build_date' %}" class="green">Date Built <i class="fa fa-caret-up"></i></a>
                        {% else %}
                            <a href="{% url "house_sort" '-build_date' %}" class="green">Date Built <i class="fa fa-caret-down"></i></a>
                        {% endif %}
                    </th>
                    <th>Its housemates</th>
                </tr>
                </thead>
                {% for house in object_list %}
                    <tr>
                        <th>{{ house.street }}</th>
                        <th>{{ house.st_number }}</th>
                        <th>{{ house.apartment_amount }}</th>
                        <th>{{ house.build_date }}</th>
                        <th><a href="{% url "house_housemates" house.id %}">Link</a></th>
                    </tr>
                {% endfor %}

            </table>
        </div>
    {% else %}
        <p>There are no houses in database</p>
    {% endif %}
{% endblock %}
